:root {
     --azul-escuro-bg: #051d3b;
     --cinza-bg: #e5e5e5;
     --inter-fonte: 'Inter', sans-serif;
     --roboto-fonte: 'Roboto Mono', monospace;
     --input-bg: #051d3b;
     --branco-fonte: #FFFFFF
}